@import url(variable.css);



.container {
    width: min(100%, 1440px);
    margin: auto;
    padding: 32px 20px;
    background-color: var(--main_color);
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 48px 146px 146px 220px;
    grid-template-areas:
        "HEADER HEADER HEADER HEADER"
        "ASIDE SECTION SECTION ARTICLE1"
        "ASIDE SECTION SECTION ARTICLE2"
        "CARD1 CARD2 CARD3 CARD4";
}





/*header*/
.header {
    grid-area: HEADER;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 80px;
}

.header_li_link {
    font-family: Inter;
    font-size: var(--heading1);
    font-weight: 400;
    line-height: 32px;
    color: var(--cards_color);
}


.button_article {
    display: flex;
    column-gap: 32px;
}


.burger_icon{
    font-size: 48px;
    color: #C3B97F;
    display: none;
}

/*aside*/
.aside {
    grid-area: ASIDE;
    display: flex;
    flex-direction: column;
    padding: 38px 40px 0;
    background-color: var(--aside_shadow_color20);
    box-shadow: inset 0 4px 4px var(--aside_shadow_color20),
        0 -1px 4px;
}

.aside_title {
    font-family: Inter;
    font-size: var(--paragraph2);
    font-weight: 400;
    line-height: 27px;
    color: var(--aside_title_color);
}


.aside_li_link {
    font-family: Inter;
    font-size: var(--paragraph3);
    font-weight: 400;
    line-height: 25px;
    color: var(--aside_text_color);

}

.aside_ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/*section*/

.section {
    grid-area: SECTION;
    background-image: url(../images/section1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*article*/


.article1 {
    grid-area: ARTICLE1;
    background-image: url(../images/section2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.article2 {
    grid-area: ARTICLE2;
    background-image: url(../images/section3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*card*/

.card1 {
    grid-area: CARD1;
    display: flex;
    flex-direction: column;


}


.card2 {
    grid-area: CARD2;
    display: flex;
    flex-direction: column;

}


.card3 {
    grid-area: CARD3;
    display: flex;
    flex-direction: column;

}


.card4 {
    grid-area: CARD4;
    display: flex;
    flex-direction: column;

}

.card_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.card_article {
    background-color: var(--cards_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}


.card_article_span {
    font-family: Inter;
    font-size: var(--paragraph2_2);
    color: var(--main_color);
    font-weight: 700;
    line-height: 24px;
}


.card_aricle_button {
    width: 97px;
    height: 40px;
    font-family: Inter;
    font-size: var(--paragraph3_2);
    font-weight: 700;
    line-height: 22px;
    color: var(--cards_color);
    background-color: var(--aside_title_color);
    border: none;
}





